<footer>

    <div class="f-content">
        <div class="f-social-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="co-stuff">
            &copy WanderLust Pvt. Ltd. |
            <a href="/listings">Privacy policy</a>
        </div>
    </div>
</footer>